<ion-view view-title="{{ vm.pelicula[0].Nombre }}">
    <ion-content class="content padding has-header">
        <div class="pelicula-fondo">
            <div class="row">
                <div class="col col-33">
                    <img src="{{ vm.pelicula[0].Poster }}" style="width: 100%; height:160px;">
                </div>
                <div class="col col-50">
                    <h4 style="color:white">Género: {{ vm.pelicula[0].Genero }}</h4>
                    <h4 style="color:white">Censura: {{ vm.pelicula[0].Clasificacion }}</h4>
                    <h4 style="color:white">{{ vm.pelicula[0].Duracion }} minutos</h4>
                    <h4 style="color:white">Director: {{ vm.pelicula[0].Director }}</h4>
                </div>
            </div>
        </div>
        <div class="list" style="margin-top:20px;">
            <div class="item" ng-if="vm.funciones.length === 0" style="text-align: center;">
                <h1 style="font-size:20px;"> No hay funciones disponibles</h1>
            </div>
            <div ng-repeat="funcion in vm.funciones">
                <a class="item" href="#/tabs/pelicula/{{vm.pelicula[0].ID}}/compra/{{funcion.ID}}">
                    <div class="row">
                        <div class="col col-33">
                            <h1 style="font-size:20px;">{{ funcion.Cine }}</h1>
                        </div>
                        <div class="col col-33">
                            <h1 style="font-size:20px;"> {{ funcion.Hora }}</h1>
                        </div>
                        <div class="col col-33">
                            <span class="badge badge-assertive" style="padding:15px;">{{ funcion.Asientos }}</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>