<ion-view view-title="Busqueda">
    <ion-content class="padding has-header" style="margin-top: -10px;background-color: #f3f3eb;">
        <div class="card">
            <div class="item item-divider fondo">
                Buscar pelicula
            </div>
            <div class="item item-text-wrap">
                <form class="create-form" role="form"
                      ng-submit="vm.buscarPelicula(vm.buscarPelicula.pelicula)">
                    <div class="list" style="margin-top: -10px;">
                        <label class="item item-input">
                            <span class="input-label">Pelicula</span>
                            <input type="text" ng-model="vm.buscarPelicula.pelicula" required>
                        </label>
                        <button class="button button-block button-assertive">
                            Buscar pelicula
                        </button>
                        </div>
                </form>
            </div>
        </div>
		<!--
        <div class="card">
            <div class="item item-divider fondo">
			
                Buscar recibo
            </div>
            <div class="item item-text-wrap">
                <form class="create-form" role="form"
                      ng-submit="vm.buscarRecibo(vm.buscarRecibo.ID)">
                    <div class="list" style="margin-top: -10px;">
                        <label class="item item-input">
                            <span class="input-label">ID Recibo</span>
                            <input type="text" ng-model="vm.buscarRecibo.ID" required>
                        </label>
                        <button class="button button-block button-assertive">
                            Buscar recibo
                        </button>
                </form>
            </div>
        </div>
		-->
    </ion-content>
</ion-view>
