<ion-view view-title="Recibo">
    <ion-content class="content padding has-header" style="background-color: #f3f3eb; margin-top: -10px;">
        <div class="card" ng-if="vm.recibo.length === 0">
            <div class="item" style="text-align: center;">
                <h1 style="font-size:20px;"> El recibo que ha buscado no existe</h1>
            </div>
        </div>
        <div class="card" ng-if="vm.recibo.length !== 0">
            <div class="item item-divider fondo">
                Recibo
            </div>
            <div class="item item-text-wrap">
                <h1>#{{ vm.recibo[0].ID_Compra }}</h1>
            </div>
            <div class="item item-avatar" style="position: relative;">
                <img src="{{ vm.recibo[0].Poster }}">
                <h2>{{ vm.recibo[0].Pelicula }}</h2>
                <p>{{ vm.recibo[0].Hora | date:'medium'}}</p>
            </div>
            <div class="item item-text-wrap">
                <div class="row" style="margin: -10px;">
                    <div class="col col-50">
                        Cine
                    </div>
                    <div class="col col-50" style="text-align: right">
                        {{vm.recibo[0].Cine}}
                    </div>
                </div>
            </div>
            <div class="item item-text-wrap">
                <div class="row" style="margin: -10px;">
                    <div class="col col-50">
                        Sala
                    </div>
                    <div class="col col-50" style="text-align: right">
                        {{vm.recibo[0].Sala}}
                    </div>
                </div>
            </div>
            <div class="item item-text-wrap">
                <div class="row" style="margin: -10px;">
                    <div class="col col-50">
                        Nombre del cliente
                    </div>
                    <div class="col col-50" style="text-align: right">
                        {{vm.recibo[0].NombreCliente}}
                    </div>
                </div>
            </div>
            <div class="item item-text-wrap">
                <div class="row" style="margin: -10px;">
                    <div class="col col-50">
                        Cantidad de asientos
                    </div>
                    <div class="col col-50" style="text-align: right">
                        {{vm.recibo[0].Asiento}}
                    </div>
                </div>
            </div>
            <div class="item item-divider">
                <h3>Compra exitosa</h3>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>