<ion-view view-title="{{ vm.pelicula[0].Nombre }}">
    <ion-content class="content padding has-header" style="background-color: #f3f3eb; margin-top: -10px;">
        <div class="card" ng-if="vm.funcion[0].Asientos <= 0">
            <div class="item" style="text-align: center;">
                <h1 style="font-size:20px;"> No hay asientos disponibles</h1>
            </div>
        </div>
        <div class="card" ng-if="vm.funcion[0].Asientos > 0">
            <div class="item item-divider fondo">
                Compra
            </div>
            <div class="item item-avatar">
                <img src="{{ vm.pelicula[0].Poster }}">
                <h2>{{ vm.pelicula[0].Nombre }}</h2>
                <p>{{ vm.funcion[0].Hora }}</p>
            </div>
            <div class="item item-text-wrap">
                <form class="create-form" role="form" ng-submit="vm.crearCompra(vm.funcion[0].ID, vm.nuevaCompra.Nombre, vm.nuevaCompra.Asientos, vm.funcion[0].Asientos)">
                    <div class="list" style="margin-top: -10px;">
                        <label class="item item-input">
                            <span class="input-label">Nombre</span>
                            <input type="text" ng-model="vm.nuevaCompra.Nombre" ng-min="3" required>
                        </label>
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Asientos
                            </div>
                            <select ng-model="vm.nuevaCompra.Asientos" required>
                                <option ng-repeat="cantidad in [1,2,3,4,5,6]">{{ cantidad }}</option>
                            </select>
                        </label>
                        <button class="button button-block button-assertive">
                            Comprar
                        </button>
                </form>
            </div>
            <div class="item item-text-wrap" ng-if="vm.error" style="margin-bottom: -10px">
                <p>{{ vm.error }}</p>
            </div>
        </div>
        <div class="item item-divider">
            Quedan solo {{ vm.funcion[0].Asientos }} asiento(s)
        </div>
        </div>
    </ion-content>
</ion-view>