<ion-view view-title="Recibo">
    <ion-content class="content padding has-header" style="background-color: #f3f3eb; margin-top: -10px;">
        <div class="card" ng-if="vm.recibo.length === 0">
            <div class="item" style="text-align: center;">
                <h1 style="font-size:20px;"> El recibo que ha buscado no existe</h1>
            </div>
        </div>
        <div class="card" ng-if="vm.recibo.length !== 0">
            <div class="item item-divider fondo">
                Recibo
            </div>
            <div class="item item-text-wrap">
                <h1>#{{ vm.recibo.id }}</h1>
            </div>
            <div class="item item-avatar" style="position: relative;">
                <img src="{{ vm.recibo.funcion.pelicula.poster }}">
                <h2>{{ vm.recibo.funcion.pelicula.nombre }}</h2>
                <p>{{ vm.recibo.funcion.dia | date:'medium'}}</p>
            </div>
            <div class="item item-text-wrap">
                <div class="row" style="margin: -10px;">
                    <div class="col col-50">
                        Cine
                    </div>
                    <div class="col col-50" style="text-align: right">
                        {{vm.recibo.funcion.sala.cine.nombre}}
                    </div>
                </div>
            </div>
            <div class="item item-text-wrap">
                <div class="row" style="margin: -10px;">
                    <div class="col col-50">
                        Sala
                    </div>
                    <div class="col col-50" style="text-align: right">
                        {{vm.recibo.funcion.sala.sala}}
                    </div>
                </div>
            </div>
            <div class="item item-text-wrap">
                <div class="row" style="margin: -10px;">
                    <div class="col col-50">
                        Nombre del cliente
                    </div>
                    <div class="col col-50" style="text-align: right">
                        {{vm.recibo.usuario.nombre}}
                    </div>
                </div>
            </div>
            <div class="item item-text-wrap">
                <div class="row" style="margin: -10px;">
                    <div class="col col-50">
                        Cantidad de asientos
                    </div>
                    <div class="col col-50" style="text-align: right">
                        {{vm.recibo.asientos}}
                    </div>
                </div>
            </div>
            <div class="item item-text-wrap">
                <div class="row" style="margin: -10px;">
                    <div class="col col-50">
                        Fecha de compra
                    </div>
                    <div class="col col-50" style="text-align: right">
                        {{ vm.recibo.creacion | date: 'medium' : '-0900'}}
                    </div>
                </div>
            </div>
            <div class="item item-divider">
                <h3>Compra exitosa</h3>
            </div>
        </div>
        <div ng-if="!vm.busqueda">
            <a href="{{vm.regresarUrl}}" style="text-decoration: none;">
                <button class="button button-full button-assertive">
                    {{ vm.contenidoBoton }}
                </button>
            </a>
        </div>
    </ion-content>
</ion-view>