<ion-view view-title="{{ vm.pelicula[0].Nombre }}">
    <ion-content class="content padding has-header" style="background-color: #f3f3eb;">
        <div class="pelicula-fondo">
            <div class="row">
                <div class="col col-33">
                    <img src="{{ vm.pelicula[0].Poster }}" style="width: 100%">
                </div>
                <div class="col col-66">
                    <h3 style="color: white">
                        </p>{{ vm.pelicula[0].Nombre }}</p>
                        <small>
                            <p>Género: {{ vm.pelicula[0].Genero }}</p>
                            <p>Censura: {{ vm.pelicula[0].Clasificacion }}</p>
                            <p>{{ vm.pelicula[0].Duracion }} minutos</p>
                            <p>Director: {{ vm.pelicula[0].Director }}</p>
                        </small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="list" style="margin-top:20px;">
            <div class="item" ng-if="vm.funciones.length === 0" style="text-align: center;">
                <h1 style="font-size:20px;"> No hay funciones disponibles</h1>
            </div>
            <div ng-repeat="funcion in vm.funciones">
                <a class="item" href="#/tabs/pelicula/{{vm.pelicula[0].ID}}/compra/{{funcion.ID}}">
                    <div class="row">
                        <div class="col col-33">
                            <h1 style="font-size:20px;">{{ funcion.Cine }}</h1>
                        </div>
                        <div class="col col-33">
                            <h1 style="font-size:20px;"> {{ funcion.Hora | date : hh }}</h1>
                        </div>
                        <div class="col col-33">
                            <span class="badge badge-assertive" style="padding:15px;">{{ funcion.Asientos }}</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>