<ion-view view-title="Busqueda">
    <ion-content class="padding has-header" style="margin-top: -10px;background-color: #f3f3eb;">
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search peliculas" ng-model="searchpeliculas.nombre">
            </label>
        </div>
        <div class="list" ng-repeat="pelicula in vm.todas | filter:searchpeliculas">
            <!--<a class="item item-thumbnail-left" href="#/tabs/pelicula/{{pelicula.id}}/{{pelicula.nombre}}/busqueda">-->
            <a class="item item-thumbnail-left" href="#q
            /tabs/pelicula/{{pelicula.id}}/{{pelicula.nombre}}" style="text-decoration:none;">
                <img src="{{pelicula.poster}}" style="width: 100%">
                <h2>{{ pelicula.nombre }}</h2>
                <p>Censura: {{ pelicula.clasificacion }}</p>
                <p>{{ pelicula.duracion }} minutos</p>
                <p>Director: {{ pelicula.director }}</p>
            </a>
        </div>
    </ion-content>
</ion-view>
