<ion-view view-title="Crear cuenta">
    <ion-content class="content padding has-header" style="background-color: #f3f3eb; margin-top: -10px;">
        <form class="create-form" name="signUpForm" role="form" ng-submit="vm.crearUsuario(vm.cuenta.nombre, vm.cuenta.email, vm.cuenta.password, vm.cuenta.passwordRepeat)">
            <div class="card">
                <div class="item item-divider fondo">
                    Crear cuenta
                </div>
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Nombre</span>
                        <input type="text" ng-model="vm.cuenta.nombre">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Email</span>
                        <input type="text" ng-model="vm.cuenta.email">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Contraseña</span>
                        <input type="password" ng-model="vm.cuenta.password">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Repetir Contraseña</span>
                        <input type="password" ng-model="vm.cuenta.passwordRepeat">
                    </label>
                    <div class="item item-text-wrap" ng-if="vm.error" style="margin-bottom: -10px">
                        <p>{{ vm.error }}</p>
                    </div>
                </div>
            </div>
            <button class="button button-block button-assertive">
                Crear cuenta
            </button>
        </form>
    </ion-content>
</ion-view>