<ion-view view-title="{{ vm.cine }}">
    <ion-content class="content padding has-header" style="background-color: #f3f3eb;">
        <div class="card" ng-if="vm.peliculas.length === 0">
            <div class="item" style="text-align: center;">
                <h1 style="font-size:20px;"> No hay películas disponibles</h1>
            </div>
        </div>
        <div class="list" ng-repeat="pelicula in vm.peliculas">
			<!--<a class="item item-thumbnail-left" href="#/tabs/pelicula/{{pelicula.id}}/{{pelicula.nombre}}/cine/{{vm.cine}}">-->
            <a class="item item-thumbnail-left" >
                <img src="{{pelicula.poster}}">
                <h2>{{ pelicula.nombre}}</h2>
                <p>Género: {{ pelicula.genero }}</p>
                <p>Censura: {{ pelicula.clasificacion }}</p>
                <p>{{ pelicula.duracion }} minutos</p>
            </a>
        </div>
    </ion-content>
</ion-view>