<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-striped tabs-top  tabs-color-assertive">
    <ion-tab title="Cartelera" icon="ion-ios-film" href="#/tabs/dashboard">
        <ion-nav-view name="tab-dashboard"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Cine" icon="ion-ios-videocam" href="#/tabs/cine">
        <ion-nav-view name="tab-cine"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Busqueda" icon="ion-android-search" href="#/tabs/busqueda">
        <ion-nav-view name="tab-busqueda"></ion-nav-view>
    </ion-tab>
</ion-tabs>
