/* Empty. Add your own CSS if you like */
.cartelera-genero {
	background-color: #ef473a;
	border-radius: 5px;
	padding: 10px;
	color: white;
}

.ion-scroll-horizontal-fix {
	overflow-x: auto;
	overflow-y: hidden ;
	white-space: nowrap;
	z-index: 0;
}

.poster {
	min-width: 150px;
	max-width: 150px;
}

.pelicula-fondo {
	background-color: #ef473a;
	margin:0px;
}

.fondo {
	background-color: #ef473a;
	color:white;
}

.centrar-vertical {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

i.icon.ion-calculator::before {
  content: url('../img/popcorn-and-soda-glassa.png') !important;
} 

i.icon.ion-transgender::before {
  content: url('../img/popcorn-and-soda-glassi.png') !important;
} 

.tabs .tab-item .icon.cinea {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 32px;
  background-image: url('../img/popcorn-and-soda-glassa.png');
  background-size:contain;
}

.tabs .tab-item .icon.cinei {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 32px;
  background-image: url('../img/popcorn-and-soda-glassi.png');
  background-size:contain;
}

.cartelera-button {
	padding: -10px;
}