/* Empty. Add your own CSS if you like */
.cartelera-genero {
	background-color: #ef473a;
	border-radius: 5px;
	padding: 10px;
	color: white;
}

.ion-scroll-horizontal-fix {
	overflow-x: auto;
	overflow-y: hidden ;
	white-space: nowrap;
	z-index: 0;
}

.poster {
	min-width: 150px;
	max-width: 150px;
}

.pelicula-fondo {
	background-color: #ef473a;
	margin:0px;
}

.fondo {
	background-color: #ef473a;
	color:white;
}

.centrar-vertical {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}